# dotenv
.env
.env.*.local

# docker
**/db-data/
**/docker-compose.override.yml
**/docker-compose.override.yaml
*.pid
*.log

# terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl

# rust
stdb_explorer/target/
**/*.rs.bk
Cargo.lock

# postgres
*.dump
*.sql~
pgdata/
postgresql.conf
pg_hba.conf
recovery.conf

# Project specific with credentials
pgadmin/servers.json
initdb/00_extensions.sql
initdb/01_schema.sql
initdb/02_tables.sql
stdb_explorer/data/
stdb_explorer/src/module_bindings